@font-face{
    font-family: 'BeaufortForLoLBold';
    src: local('BeaufortForLoL'),
        url(../fonts/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf) format('opentype');
}

@font-face{
    font-family: 'BeaufortForLoL';
    src: local('BeaufortForLoL'),
        url(../fonts/BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
  }

.signin{
    background-image: url('../imgs/howlingabyss.png');
    height: 100vh;
    width: 100vw;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin-card{
    background-color: whitesmoke ;
    height: 60vh;
    width: 25vw;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    align-items: center;
    margin:auto;
}

.title{
    font-family: 'BeaufortForLoLBold';
    font-size: 3vh;
    align-self: center;
}

.username-input{
    height: 7%;
    width: 80%;
    display: flex;
    align-self: center;
    font-family: 'BeaufortForLoLBold';
    font-size: large;
}

.username-input::placeholder{
    font-family: 'BeaufortForLoL'
}

.lobby-input{
    height: 7%;
    width: 80%;
    display: flex;
    align-self: center;
    font-family: 'password';
}

.lobby-input::placeholder{
    font-family: 'BeaufortForLoL';
    font-size: large;
}
