@font-face{
    font-family: 'BeaufortForLoL';
    src: local('BeaufortForLoL'), url(./fonts/BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf)
}

body {
    margin: 0;
    background-color: white; /* Background color for the entire page */
    height: 100vh; /* Ensure body height covers the full viewport */
    overflow: hidden; /* Prevent scrolling on the entire page */
}